

.spanish-flag, .french-flag {
  height: 50px;
  width: 75px;
  cursor: pointer;
  border: 5px solid transparent;
}
.spanish-flag:hover,
.french-flag:hover {
  height: 60px;
  width: 85px;
  border: none;
}

.french-flag {
  display: flex;

}

.spanish-flag .one, .spanish-flag .three{
  height: 33%;
  background-color: #FF0000;
}

.spanish-flag .two {
  height: 33%;
  background-color: #FFC400;
}

.french-flag .one {
  width: 33%;
  background-color: #0055A4;
}

.french-flag .two {
  width: 33%;
  background-color: #ffffff;
}

.french-flag .three {
  width: 33%;
  background-color: #ED2939;
}

.flag-container {
  display: flex;
  gap: 10px;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #5A5966;
  color: #fff;
  text-align: center;
  font-family: "Nunito", sans-serif;
  padding: 1vh;
}

h1, h3, .tries, .row1, button, label {
  user-select: none;
}

.framework {
  width: 800px;
  background-color: #070F2B;
  border-radius: 1rem;
  /* delete these 3 if I get errors, this is to make sure the framework is never moved by the keypad on mobile */
  position: sticky;
  margin: 10px;
  padding: 0;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.5rem 0;
}

h1.title {
  margin: 0;
  font-size: 1.8rem;
}

.tries {
  margin-top: 0;
  color: #999;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  margin-bottom: 1rem;
}

.infinitive-list h2, .tense-list h2, .person-list h2 {
  cursor: pointer;
}

.infinitive-list h2:hover,
.tense-list h2:hover,
.person-list h2:hover {
  background-color: #262475;
  border-radius: 1rem;
}

.info-1,
.info-2,
.info-3 {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 10px;
  font-size: 1.1rem;
}

.info-1 p,
.info-2 p,
.info-3 p, .info-1-mobile p , .info-2-mobile p , .info-3-mobile p {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}



h2 {
  font-size: 1.3rem;
  margin: 10px;
  font-weight: 700;
}

.infinitive-list, .tense-list, .person-list {
  background-color: #1B1A55;
  width: 30%;
  border-radius: 1rem;
}


.active-option:hover, .inactive-option:hover {
  color: red;
  background-color: #262475;
  text-shadow: -0.5px -0.5px 0.5px red,
      0.5px -0.5px 0.5px red,
      -0.5px 0.5px 0.5px red,
      0.5px 0.5px 0.5px red;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: -2px -2px 2px 1px rgb(0 0 0 / 10%),
    -2px 2px 2px 1px rgb(0 0 0 / 10%),
    2px -2px 2px 1px rgb(0 0 0 / 10%),
    2px 2px 2px 1px rgb(0 0 0 / 10%);
}


.active-option {
  cursor: pointer;
  color: #fff;
  font-weight: bolder;

}

.inactive-option {
  cursor: pointer;
  color:#333;
  text-decoration: line-through;
}

.active-option:hover {
  color: #fff;
}

.irregulars-container {
  border: 1px solid transparent;
}

.irregular-verbs-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tense-list .info-column, .person-list .info-column {
  transition: color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

/* Apply styles to the element when it's clicked or touched */
.tense-list .info-column:active, .person-list .info-column:active {
  color: red;
  border: 1px solid red;
  box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.1),
    -2px 2px 2px 1px rgba(0, 0, 0, 0.1),
    2px -2px 2px 1px rgba(0, 0, 0, 0.1),
    2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}



.row-selection {
  display: flex;
  flex-direction: row;
}

.row-selection h3 {
  width: 27%;
  height: 3vh;
  margin: 1.5vh auto;
  padding: 1vh;
  background-color: #1B1A55;
  color: #fff;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-text, .translation-label {
  width: 100%;
  height: 3rem;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
  border: 0;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.translation-label {
  color: #FFB200;
  background-color: #1B1A55;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold
}


#correct-answer {
  font-weight: bold;
  color: #00BB32;
  background-color: #e0f7d4;
  border: 1px solid #48bb78;
}

#incorrect-answer {
  font-weight: bold;
  color: #FF1500;
  background-color: #fbd5d5;
  border: 1px solid #f56565;
}


/*----------------------------- Buttons ----------------------*/

.button-group {
  width: 800px;
  height: 4vw;
  min-height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 1rem auto;
}


.main-button, .top-button, .seconds-button,
.special-characters button {
  background-color: #d6d6d6;
  color: #3B3B3B;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  outline: none;
  padding: 5px auto;
  margin: 0.5rem auto;
  text-align: center;
  cursor: pointer;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  min-height: 40px;
  width: 18%;
  min-width: 50px;
  will-change: transform;
}


.main-button:hover, .top-button:hover, .special-characters button:hover {
  color: #fff;
  background-color: #1B1A55;
  border: 2px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  box-shadow: 5px 5px 10px #1D3DB3, 5px -5px 10px #1D3DB3, -5px -5px 10px #1D3DB3, -5px 5px 10px #1D3DB3;
}

.main-button:active, .top-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.dummy-button {
  background-color: #5A5966;
  color: #5A5966;
  border: 2px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  padding: 5px auto;
  margin: 1rem auto;
  text-align: center;
  cursor: initial;
  min-height: 40px;
  width: 18%;
  min-width: 50px;
}

.dummy-button:hover {
    color: #070F2B;
    border: none;
    background-color: #070F2B;
    box-shadow: none;
    transform: none;
    box-shadow: 5px 5px 10px #070F2B, 5px -5px 10px #070F2B, -5px -5px 10px #070F2B, -5px 5px 10px #070F2B;
}

.top-button {
  width: 40px;
  height: 40px;
  margin: 1vw;
  border-radius: 33%;
}

.special-characters {
  background-color: #262475;
  color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
}

.special-characters p {
  margin: 0;
}

.special-characters button {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.special-char-buttons {
  display: flex;
}



/* -------------------------- Whole class mode -------------------*/

.seconds-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.small-button:hover {
  background-color: #1B1A55;
  color: #fff;
}

.small-button:active {
  transform: translateY(-1px);
}

/*---------- Order of tenses and persons in mobile version--------------------*/

.t1, .SpI1 {
  order: 2;
}

.é2, .i2, .SpP2 {
  order: 4;
}

.n3, .n5, .SpP3, .SpI3 {
  order: 1
}

.v4, .v6, .SpI5, .SpS4 {
  order: 3;
}

.e5, .i7, .SpS6, .SpC5 {
  order: 5
}

.SpP4 {
  order: 6
}

.SpC7 {
  order: 7
}

/* ---------------------- Responsiveness ---------------------*/

@media (max-width: 900px) {

  .special-characters {
    display: none;
  }

  .framework, .button-group {
    max-width: 95vw;
  }

  .row-selection {
    font-size: 0.8rem;
  }

h1.title {
  font-size: 1.5rem;
}

  h2 {
    font-size: 1rem;
  }

  .user-text, .translation-label {
    font-size: 1.3rem;
  }

  .main-button, .seconds-button {
    width: 22%;
    font-size: 16px;
  }
}

@media (max-width: 540px) {

  .title-row {
      align-items: flex-start;
    }

  .info-1 p,
  .info-2 p,
  .info-3 p {
    margin: 2px 0;
    font-size: 0.8rem;
  }

  .row1 {
    display: none;
  }

  .row-selection {
    font-size: 0.7rem;
  }
  .row-selection h3 {
    padding: 0.4vh;
    height: 2rem;
  }

  h1.title {
    font-size: 1.3rem;
    margin: 0.4vh;
  }

  .framework > p {
    margin: 0;
  }

  h2 {
    margin: 2px;
  }

  .user-text, .translation-label {
    font-size: 1.1rem;
    height: 2rem;
  }

.button-group {
  margin: 0.3rem auto;
}

  .main-button, .seconds-button {
    padding: 3px auto;
    width: 30%;
    font-size: 14px;
  }

  .main-button:hover, .top-button:hover {
    box-shadow: 3px 3px 7px #1D3DB3, 3px -3px 7px #1D3DB3, -3px -3px 7px #1D3DB3, -3px 3px 7px #1D3DB3;
  }

  .small-button {
    font-size: 8px;
    margin: auto 0;
    height: 1.5rem;
    color: red
  }

  .info-2, .info-3 {
    padding: 3px;
    margin: 3px;
  }

  .infinitive-list {
    display: none;
  }

  .person-list, .tense-list {
    width: 48%;
  }

  .framework {
    position: sticky;
    margin: 0px 0px 5px 0px;
  }
}

@media (max-width: 540px) {
  .user-text,
  .translation-label {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1020px) and (max-width: 1030px) and (min-height: 600px) and (max-height: 768px) {

  /* CSS rules specific to 4:3 aspect ratio, commonly used in projectors in schools */
  .framework {
    margin: 0.5rem;
  }

  .App {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 1.3rem;
    margin: 0.4vh;
  }


  .main-button {
    min-height: 40px;
    width: 18%;
    min-width: 50px;
  }

  .user-text {
    margin: 0 auto;
  }

  .info-1,
  .info-2,
  .info-3 {
    margin: 1rem auto;
    padding: 1rem auto;
  }
}